.main {
  margin: 2rem 1rem;
  background-color: rgb(221, 221, 221);
  padding: 2.5rem;
  flex-wrap: wrap;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: justify;
  font-family: Arial;
  font-size: 1.25rem;
}

.float-left {
  margin: 1rem 1rem 1rem 0px;
  float: left;
}

.float-right {
  margin: 1rem 0px 1rem 1rem;
  float: right;
}

.img-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(146, 148, 149);
}

.img-set img {
  width: 400px;
  border-radius: 2rem;
  margin-bottom: 0.4rem;
}

.table {
  background-color: #f8f9fa;
  color: #202122;
  margin: 1rem 1rem 1rem 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

.table tr th {
  background-color: #eaecf0;
  text-align: center;
}

.table tr th,
.table tr td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 0;
    padding: 0;
  }

  .img-set {
    width: 100%;
  }

  .img-set img {
    width: 100%;
  }
}
